<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/54c0a164-5232-4b01-9cdc-deb6bad2969b/resourceGroups/hl-exemplo1/providers/Microsoft.Web/sites/hl-products</ResourceId>
    <ResourceGroup>hl-exemplo1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hl-products.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hl-products.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hl-products</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$hl-products</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProductsManagementContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hl-productsdbserver.database.windows.net,1433;Initial Catalog=productsManagement;Persist Security Info=True;User ID=productsBdServer;Password=Admin08%" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProductsManagement.Models.ProductsManagementContext, ProductsManagement" MigrationConfiguration="ProductsManagement.Migrations.Configuration, ProductsManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProductsManagementContext-Web.config Connection String">
      <ParameterValue>data source=tcp:hl-productsdbserver.database.windows.net,1433;initial catalog=hl-products_db;user id=productsBdServer@hl-productsdbserver;password=Admin08%;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>